body {
  font-family: Arial, sans-serif;
  margin: 0 auto;
}

.controls {
  border-radius: 5px;
  margin: 0 20px;
  padding: 10px;
}

.loading {
  color: blue;
  font-weight: bold;
  margin: 10px 0;
}

button {
  padding: 8px 15px;
  margin: 5px 0;
  cursor: pointer;
}

label {
  display: block;
}

input[type="range"] {
  width: 100%;
}

.upload-container {
  width: 80%;
  /* Устанавливаем контейнер на всю ширину */
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.upload-label {
  display: block;
  padding: 10px;
  background-color: white;
  color: black;
  text-align: center;
  cursor: pointer;
  border-radius: 20px;
  border: 5px solid black;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.upload-label:hover {
  background-color: gray;
  color: white;
}

.main {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 10px;
  border: 5px solid black;
  border-radius: 20px;
}

.loader {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 4px solid rgba(0, 123, 255, 0.2);
  /* Цвет рамки */
  border-top-color: #007bff;
  /* Цвет анимации */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.hidden {
  display: none;
}

.seekbarDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 5px solid black;
  border-radius: 30px;
}

.labels {
  border: 5px solid black;
  border-radius: 30px;
  padding: 15px 25px;
}

button {
  border: 0;
  background: 0;
  font-size: 25px;
  color: black;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
  border: 0;
}

.slider::-moz-range-progress {
  /* Для Firefox */
  background-color: black;
  /* Цвет диапазона слева от ползунка */
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
  border: 0;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

.seekbar {
  display: flex;
  flex-direction: row;
}

.time {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 3px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
